.block {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    background-color: white;
    border: 10px solid black;
    transition: background-color 0.9s;
}

.bg-color {
    background-color: #c9ade6;
}
